<% include ./partials/navigationBar %>
<main class="h-screen w-full p-8 relative">
  <section class="flex flex-col gap-4 items-center">
    <% timelogs.forEach(function (tl) { %>

      <article class="flex flex-col justify-between gap-5 border-4 px-4 py-10 rounded-3xl w-1/2 ">
        <div>
          <div class="flex gap-3 items-center">
            <a href="/users/<%= tl.user._id %>">
              <p class="text-2xl font-extrabold underline"><%= tl.user.username %></p> 
            </a>
            <a href="/users/<%= tl.user._id %>/<%= tl.storylines._id %>"><span class="text-lg text-zinc-700">. <%= tl.storylines.title %></span></a> 
          </div>
          <span class="text-zinc-500 text-sm"><%= tl.createdDate.toLocaleDateString() %></span>
        </div>
        <div>
          <p>
            <%= tl.post %>
          </p>
        </div>
        
      </article>
    <% }) %>
  </section>

  

  <% include ./partials/createButton %>
</main>
